*{
    margin: 0;
    padding: 0;
    background-size: cover;
}
body{
    background-image: url(./Sky2.jpg);
    border: 3px solid green;
    width: 100%;
    height: auto;
}
.parent{
    display: flex;
    justify-content: space-between;
}
.child{
    background-color: black;
    color: white;
    border-radius: 20px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
.child1{
    width: 18%;
    height: 60px;
    border: 4PX solid red;
    padding: 5px;
    margin: 15px;
}
.child2{
    width: 25%;
    height: 35px;
    border: 4PX solid red;
    padding: 5px;
    margin-top: 22px;
    margin-left: -630px;
}
.child3{
    width: 20%;
    height: 60px;
    border: 4PX solid red;
    padding: 5px;
    margin: 15px;
}
.head{
    display: flex;
}
.form{
    /* border-style: dashed; */
    border: 7px rgb(217, 36, 13) dashed;
    display: inline-block;
    margin-top: 80px;
    margin-left:180px;
    color: rgb(223, 90, 73);
    text-align: center;
    background-color: white;
    font-weight: bold;
}
.Circle{
    width:300px;
    height:300px;
    border: 5px solid gray;
    border-radius: 50%;
    display: inline-block;
    margin-left: 80px;
    margin-top: 250px;
    /* margin-bottom: 20%; */
    background-color: rgb(23, 126, 73);
}
.circleText{
    margin-top: 68px;
    justify-content: center;
    text-align: center;
    color: black;
    font-style: italic;
    font-size: 18px;
    font-weight: bolder;
    text-decoration: underline;
}
.menu{
    border:6px solid red;
    text-align: center;
    color: white;
    background-color: black;
    /* justify-content: center; */
    border-radius: 35px;
    font-style: italic;
    height: 40px;
    width: 350px;
    padding: 15px;
    margin-top: 30px;
    margin-left: 380px;
}
.carton{
   width: 100%;
   /* height:700px; */
   /* padding: 20px; */
   display:flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   gap: 30px;
   border: 1px solid red;
}
.box{
    width: 325px;
    border:3px solid green;
    border-radius: 30px;
    text-align: center;
    font-weight: bold;
    color:rgb(121, 30, 121);
    background-color: aqua;
    height: auto;
}

.box ul {
    margin: 15px;

}
.box h1{
  padding: 20px;
}
.box-6{
    /* font-size: 20px; */
    /* height: auto; */ 
    margin-top: 36px;
}